*{
   box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
}


.heading{
    font-size: 50px;
 font-weight: 300;
}


.coinsBox{
   font-size: 28px;
   line-height: 28px;
   font-weight: 500;

}

.coinsBoxes{
   margin-top: 50px;
   display: flex;
  gap:200px;
}

.coinImage{
   margin-top: 10px;
   width: 214px;
   height: 214px;
  
}
.coinImage img{
  width: 100%;
   object-fit: cover;
}

a{display: block;
   color:black;
   font-size: 14px;
   margin-top: 20px;
   text-decoration:none;
}
.bigSmybol{
   margin-left: 0px;
  font-size: 14px; 
  color: black;
}